<launch>
  <arg name="global_ns" value="$(env ROOTNAME)" />
  <arg name="device_ns" value="$(env ROOTNAME)/$(env DEVICE_ID)" />
  <arg name="output_destination" value="screen" />
  <arg name="config_file_root" value="/opt/nepi/nepi_engine/etc" />
  <arg name="partition_layout_file" default="s2x_xavier_nx_nepi_partition_layout.yaml" />

  <!-- Args. to run or not run specific nodes -->
  <arg name="run_robot_state_publisher" default="false" />
  <arg name="run_web_utils" default="true" />



        
  <!-- Everything lives in the device namespace -->
  <group ns="$(arg device_ns)">


    <rosparam command="load" file="$(arg config_file_root)/system_mgr.yaml" ns="system_mgr" />

    <node name="system_mgr" pkg="nepi_managers" type="system_mgr.py" respawn="false" output="$(arg output_destination)" />

    <node name="config_mgr" pkg="nepi_managers" type="config_mgr.py" respawn="false" output="$(arg output_destination)" />

    <node if="$(arg run_robot_state_publisher)" name="nepi_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true" />


    <group if="$(arg run_web_utils)" >
      <!-- Rosbridge_websocket (for RUI or stand-alone)-->
      <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
        <arg name="address" value="0.0.0.0"/>
        <arg name="port" value="9090"/>
        <!-- Use a long unregister_timeout as a work-around for the well-known unregister rospy bug -->
        <arg name="unregister_timeout" value="31536000"/>
      </include>

      <!-- Web Video Server (for RUI or stand-alone) -->
      <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="$(arg output_destination)">
        <param name="port" value="9091"/>
      </node>
    </group>


  </group>

</launch>
